/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****** Main ******/

    body{
        margin: 0;
    }

    /****** info-group ******/

        /**** search-bar ****/

    .search-button{
        width: 131px;
    }

    .search-bar form{
        width: 102.5%;
        max-width: 377px;
    }

        /**** filters ****/

    .filters h2{       
    width: 100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-bottom: 5px;
    }

    .filters{
    flex-wrap: wrap;
    height: auto;
    }

    /****** hebergements et populaire ******/

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /****** activities *******/

    .activities-card article img{
        width: 100%;
        height: 200px;
    }

    .activities-card a{
        width: 25%;
    }

    .activities-card .activities-text{
        height: 70px;
    }

    .activities-text h3{
        width: 100%;
    }



    /**** footer ****/


    footer{
        gap: 30px;
    }
}