/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

body{
    margin: 0;
}



/****** Header ******/

header img{
    width: 61px;
    height: 19px;
    padding: 30px 0px 30px 0px;
}

header{
    display:flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-bottom: 30px;
}

nav{
    display: flex;
    gap: 68px;
    height: 35px;
}

nav a{
    display: flex;
    align-items: flex-end;
    height: 35px;
}

nav a:hover{
    color: var(--main-color);
    border-top: var(--main-color) 2px solid;
}






/********************* info-group *******/

.info-group section, .info-group .search-bar{
    margin-bottom: 35px;
}

    /**** headline ****/

.headline h2{
margin: 0px 0px 8px 0px;
font-size: 1.375rem;
}

.headline p{
    margin: 0px;
}

    /**** search-bar  ****/

.search-bar form{
    display: flex;
    align-items: center;
}

.search-bar .location-icon{
    color: inherit;
    background-color: var(--main-bg-color);
    border: var(--main-bg-color) 1px solid;
    border-radius: 15px 0px 0px 15px;
    height: 47px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input{
    width: 194px;
    height: 47px;
    padding: 0px;
    border-left: var(--main-bg-color) 1px solid;
    border-top: var(--main-bg-color) 1px solid;
    border-bottom: var(--main-bg-color) 1px solid;
    border-right: none;
    text-align: center;
    font-size: 1.125rem;
    font-weight: bold;
}

.search-input:focus{
    outline: none;
}

.search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 159px;
    height: 47px;
    padding: 0px;
    box-sizing: inherit;
    border: var(--main-color) 1px solid;
    background-color: var(--main-color);
    border-radius: 0px 15px 15px 0px;
}

.search-button .fa-magnifying-glass{
    color: white;
    display: none;
}

.search-button .rechercher{
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
    background-color: inherit;
    border: none;
}

    /**** Filters ****/

.filters{
    display: flex;
    align-items: center;
    height: 50px;
    gap: 15px;
}

.filters h3{
    font-size: 1.125rem;
}

.filters p{
    margin: 0;
}

.filters div{
    display: flex;
    align-items: center;
    gap:10px;
    height: 38.8px;
    padding: 4px 19px;
    font-size: 1rem;
    font-weight: bold;
    background-color: inherit;
    border: #d9d9d9 2px solid;
    border-radius: 25px;
}

.filters div:hover{
    background-color: var(--filter-bg-color);
}

    /**** infobar ****/

.infobar{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 24px;
    margin-bottom: 35px;
}

.infobar p{
    font-size: 1rem;
}

.infobar i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    color: var(--main-color);
    border: #D9D9D9 1px solid;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}






/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}





/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards, .see-more{
    margin-top: 30px;
}

.hebergements-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
}

.hebergements-cards img{
    width: 100%;
    height: 114px;
    padding-bottom: 5px;
    border-radius: 15px 15px 0px 0px;
}

.hebergements-cards a{
    height: 207.25px;
    width: 100%;
}

.hebergements-cards .card-content{
    padding: 0px 15px;
}

.hebergements-cards .card-txt h3,.hebergements-cards .card-txt p{
    margin: 0;
    margin-bottom: 8px;
    text-wrap: nowrap;
}

.card-txt p, .card-subtitle p{
    font-size: 0.825rem;
}
.card-rating{
    height: 13.25px;
    margin-bottom: 10px;
}

/**** see-more ****/

.see-more button{
    font-size: 1.125rem;
    font-weight: bold;
    padding-block: 0px;
    border-width: 0px;
    padding-inline: 0px;
}







/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}






/****** Activités ******/

.activities{
    padding: 30px;
    margin-bottom: 30px;
}

.activities-header{
    margin-bottom: 30px;
}

.activities-header h2{
    margin: 0;
}

.activities-card{
    display: flex;
    gap: 30px;   
}

.activities-card article{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.activities-card article img{
    width: 297.5px;
    height: 380px;
    object-fit:cover;
    border-radius: 20px 20px 0px 0px;
}

.activities-card .activities-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
    border-radius:0px 0px 20px 20px;
}

.activities-text h3{
    width: 259.5px;
    height: max-content;
    font-size: 1rem;
    margin: 0;
}






/****** Footer *******/

footer{
    display: flex;
    background-color: var(--main-bg-color);
}

footer section{
    width: 33%;
    padding: 20px;
}

footer h3{
    margin: 0;
    font-size: 1.125rem;
}

footer ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style-type: none;
    padding-inline-start: 0px;
}

footer li{
 margin-top: 15px;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****** Main ******/

    body{
        margin: 0;
    }

    /****** info-group ******/

    .filters h3{       
        width: 100%;
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding-bottom: 5px;
    }

    .filters{
        flex-wrap: wrap;
        height: auto;
    }

    /****** hebergements et populaire ******/

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /****** activities *******/

    .activities-card article img{
        width: 193.5px;
        height: 200px;
    }

    .activities-card article{
        width: 193.5px;
        height: 270px;
    }

    .activities-card .activities-text{
        height: 70px;
    }

    .activities-text h3{
        width: 155px;
    }



    /**** footer ****/


    footer{
        gap: 30px;
    }
}






/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /****** Main ******/

    .main-container{
        padding: 0px;
    }

    body{
        margin: 0px;
    }



    /****** Header ******/

    header{
        flex-direction: column;
        align-items: center;
    }

    nav{
        gap: 0px;
        height: 36px;
        width: 100%;
        justify-content: space-around;
    }

    header nav a{
        align-items: flex-start;
        justify-content: center;
        width:100%;
        border-bottom: var(--main-bg-color) 2px solid;
    }

    header nav a:hover{
        color: var(--main-color);
        border-bottom: var(--main-color) 2px solid;
        border-top: none;
    }



    /****** info-group ******/

    .info-group{
        padding: 0px 20px 0px 20px ;
    }



        /**** search-bar ****/

    .search-bar{
        width:110%;
    }

    .search-input{
        width: 246px;
    }

    .search-button{
        border-radius: 15px;
        position: relative;
        right: 10px;
        width: 47px;
        height: 47px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .search-button .rechercher{
        display: none;
    }

    .search-button .fa-magnifying-glass{
        display:block;
    }



    /**** filters ****/

    .filters{
        display: grid;
        grid-template-columns: 162.5px 162.5px;
        grid-template-rows: auto 1fr 1fr;
        row-gap: 20px;
        column-gap: 10px;
    }

    .filters h3{
        padding: 0px;
        grid-column: 1/3;
    }

    .filters div{
        font-size: 0.875rem;
    }

    /**** infobar ****/

    .infobar{
        height: 38px;
    }

    .infobar i{
        min-width: 22px;
    }




    /****** hebergements ******/

    .hebergements-and-populaires{
        gap: 15px;
    }

    .hebergements{
        order: 2;
    }

    .populaires{
        order: 1;
        margin: 0;
    }

    .hebergements-and-populaires section{
        border-radius: 0px;
        padding: 30px 20px;
    }

    .hebergements-and-populaires .hebergements{
        padding: 20px;
        background-color: inherit;
    }

    .hebergements-cards, .see-more{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }

    .hebergements-cards a{
        width: 100%;
    }

    .see-more button{
        background-color: inherit;
    }





    /****** populaire ******/

    .populaires-cards{
        flex-direction: column;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }

    .populaires-cards a{
        width: 100%;
    }



    /****** activities ******/

    .activities-card{
        flex-direction: column;
        gap: 15px;
    }

    .activities-card article{
        height: 200px;
    }

    .activities-card article{
        width: 100%;
    }

    .activities-card article img{
        width: 315px;
        height: 141px;
    }

    .activities-text{
        width: auto;
        padding: 19px 20px;
    }

    .activities-card .activities-text{
        justify-content: inherit;
    }

    .activities-text h3{
        width: auto;
    }


    /**** footer ****/

    footer{
        flex-direction: column;
        padding: 30px;
        gap: 50px;
    }

    footer section{
        width: 315px;
        padding: 0;
    }

}